.main-content {
  flex-grow: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  background-image:
  linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
  url('../../public/assets/soft-logo.png');
  background-size: 100% 100%, 100px 100px;
  background-repeat: no-repeat, repeat;
  background-position: center, center;
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
}

.content-container {
  display: flex;
  flex-grow: 1;
  position: relative;
  z-index: 2;
}

.section-price {
  margin: auto;
  width: fit-content;
}
