.header {
  background-color: #333;
  padding: 0.5rem 3rem;
  gap: 1rem;
}

.title {
  font-family: Poppins, Inter, sans-serif;
}

.consult-button {
  display: flex;
}

.consult-button:hover {
  background-color: #20b15a;
}
