html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

header, footer {
  flex-shrink: 0;
}
